[submodule "src/test/bats/test_helper/bats-assert"]
	path = src/test/bats/test_helper/bats-assert
	url = https://github.com/ztombol/bats-assert
[submodule "src/test/bats/test_helper/bats-support"]
	path = src/test/bats/test_helper/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "src/test/docs_helper/zshelldoc"]
	path = src/test/docs_helper/zshelldoc
	url = https://github.com/zdharma/zshelldoc.git
